body,
p,
hr {
  margin: 0;

  font-family: Montserrat;
  font-style: normal;
}
.main-content {
  padding: 32px 12px;
}
.main-title {
  margin: 0;
  margin-left: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #4e5150;
}

.checkout-items {
  margin-top: 21px;
  padding: 30px 25px;
  padding-bottom: 0;
  background: #f2f2f2;
  border-radius: 12px;
}

.item {
  display: flex;
  height: 124px;
}
.item + .item {
  margin-top: 30px;
}
.item img {
  width: 122px;
  height: auto;

  margin-right: 20px;
  border-radius: 13px;
}
.checkout-item-price-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.checkout-item-title {
  font-weight: 600;
  font-size: 12px;
}
.price-container {
  margin-top: 10px;
  display: flex;

  align-items: center;
}

.price-container .new-price {
  font-weight: 600;
  font-size: 14px;
  color: #f2994a;
}
.price-container .old-price {
  margin-left: 10px;

  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: line-through;
  color: #4e5150;
}

.item-quantity-container {
  padding: 16px 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 122.8px;
  height: 49.86px;

  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 12px;
}
.items-button {
  position: relative;
  width: 19.39px;
  height: 19.39px;

  padding: 0;

  font-size: 20px;

  background: #e0e0e0;
  border: none;
  border-radius: 4px;
}
.items-button:hover {
  background: #c0c0c0;
}
.items-button:active {
  background: #e6e6e6;
}
.less-items::before,
.more-items::before,
.more-items::after {
  content: "";
  position: absolute;
  top: 9.7px;
  left: 4.21px;

  display: block;

  width: 10.97px;
  height: 1.65px;

  border-radius: 5px;

  z-index: 2;
  background-color: #828282;
}
.more-items::after {
  transform: rotate(90deg);
}
.items-quantity {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  color: #333333;
}
.price-devider {
  margin-top: 86px;
}

.shipping,
.total {
  padding: 9.71px 0;
  display: flex;
  justify-content: space-between;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #333333;
}

.total {
  padding-bottom: 20px;
}

/* CUSTOMER INFO */

.customer-info {
  margin-top: 39px;
}
.contact-info {
  margin-bottom: 43px;
}
.contact-info-title,
.shipping-address-title {
  margin-bottom: 11.49px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #333333;
}
.phone-container,
.address-container,
.city-container,
.country-postal-code-container {
  margin-top: 16.52px;
}
.email-container,
.fullname-container,
.phone-container,
.address-container,
.city-container,
.postal-code-container,
.country-container {
  position: relative;
}
.email-title,
.phone-title,
.fullname-title,
.address-title,
.city-title,
.country-title,
.postal-code-title {
  margin-bottom: 5.23px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;

  color: #4f4f4f;
}
input,
select.country-input {
  padding-left: 42px;

  width: 100%;
  height: 40.56px;

  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 12px;
}
input::placeholder {
  font-family: Montserrat;

  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  color: #828282;
}
input:focus {
    border:none;
}
svg {
  position: absolute;
  left: 14px;
  top: 50%;

  max-width: 20px;
  max-height: 20px;

  fill: #828282;
  z-index: 3;
}

.country-postal-code-container {
  display: flex;
  justify-content: space-between;
}
.country-container,
.postal-code-container {
  width: 50%;
}
.country-container {
  margin-right: 23.28px;
}

.save-info-container {
  margin-top: 17px;

  font-weight: 600;
  font-size: 10px;
  line-height: 12px;

  color: #4f4f4f;
}
.save-info-container label {
  display: flex;
  align-items: center;
}
.save-info-container input {
  margin-right: 7.78px;
  width: 16px;
  height: 15px;

  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 4px;
}
.submit-container {
  display: flex;
  justify-content: flex-end;
}
.submit-container button {
  margin-top: 37.5px;
  width: 166px;
  height: 54px;

  background: #f2994a;
  border-radius: 12px;
  border: none;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
}
.submit-container button:hover {
    background: #fab477;
}
.submit-container button:active {
    background: #c87e3e;
}

@media all and (min-width: 1000px) {
  body {
    display: flex;
    justify-content: center;
  }
  .main-title {
    font-size: 36px;
    margin: 0;
  }
  .main-content {
    padding-top: 64px;
    padding-bottom: 64px;
    min-width: 1000px;
    max-width: 1200px;
  }
  .main-container-flex {
    display: flex;
    flex-direction: row-reverse;

    justify-content: space-between;
  }
  .checkout-items-container {
    width: 40%;
  }
  .customer-info-container {
    width: 60%;
    margin-right: 112px;
  }
  .contact-info-title,
  .shipping-address-title {
    font-size: 18px;
  }
  .email-container {
    margin-top: 15px;
  }
  .email-title,
  .phone-title,
  .fullname-title,
  .address-title,
  .city-title,
  .country-title,
  .postal-code-title {
    font-size: 12px;
  }
}
